{% extends 'registration/accbase.html' %}
{% block title %}Modifica Account{% endblock title %}

{% block content %}
{% block modpro %} active {% endblock modpro %}
<br><br><br><br>
<div class="container">

<h1>Aggiorna Il Tuo Profilo</h1>
<br><br>

<div class="form-group">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Aggiorna Profilo</button>
    <a class="btn btn-outline-secondary" href="{% url 'home' %}">Torna alla Home</a>
    </form>

</div>

</div>
{% endblock content %}